.places {
    max-width: 984px;
    margin: 88px auto 92px;
}

@media screen and (max-width: 1279px) {
    .places {
        max-width: 928px;
        margin: 90px 48px 92px;
    }
}

@media screen and (max-width: 1023px) {
    .places {
        max-width: 720px;
        margin: 86px 24px 90px;
    }
}

@media screen and (max-width: 767px) {
    .places {
        max-width: 320px;
        margin: 66px auto 66px;
    }
}